body {
    font-family: "Gill Sans";
    font-size: 24px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
}

nav > ul > li {
    list-style-type: none;
    color: #fff;
    padding: 14px 20px;
    background: red;
    box-shadow: 6px 10px 10px #000;
}

#about {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.about__images img {
    border: 2px solid #000;
    margin-right: 10px;
    width: 400px;
}