body {
    font-family: "Gill Sans";
    font-size: 24px;
    padding: 0px 30px;
    background-color: cornflowerblue;
    color: #fff;
    line-height: 36px;
}

nav > ul {
    display: flex;
    justify-content: space-around;
}

nav > ul > li {
    color: #fff;
    padding: 14px 20px;
    background: red;
    box-shadow: 6px 10px 10px #000;
    border-radius: 10px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #fff;
}

nav > ul > li:hover {
    background-color: blue;
}

img {
    border: 2px solid #000;
    margin-right: 10px;
    width: 40%;
}

.main-img {
    width: 24%;
    margin-right: 40px;
    border-radius: 50%;
    height: 339px;
}

section > .content {
    display: flex;
    justify-content: space-around;
}

ul > li {
    list-style-type: none;
}

section {
    margin-bottom: 10px;
}

/* .name {
    text-align: center;
} */